@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --foreground: #000000;
  --primary: #4B1A9F;
}

@theme inline {
  --font-sans: var(--font-mulish);
  --font-display: var(--font-mulish);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #ab4747;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
}
